cl_parancsok.txt
cubixhazi/cubixhazi/__pycache__/__init__.cpython-312.pyc
cubixhazi/cubixhazi/__pycache__/settings.cpython-312.pyc
cubixhazi/cubixhazi/__pycache__/urls.cpython-312.pyc
cubixhazi/cubixhazi/__pycache__/wsgi.cpython-312.pyc
cubixhazi/hotel_finance/__pycache__/__init__.cpython-312.pyc
cubixhazi/hotel_finance/__pycache__/admin.cpython-312.pyc
cubixhazi/hotel_finance/__pycache__/apps.cpython-312.pyc
cubixhazi/hotel_finance/__pycache__/models.cpython-312.pyc
cubixhazi/hotel_finance/__pycache__/urls.cpython-312.pyc
cubixhazi/hotel_finance/__pycache__/views.cpython-312.pyc
cubixhazi/hotel_finance/migrations/__pycache__/__init__.cpython-312.pyc
cubixhazi/db.sqlite3
cubixhazi/hotel_finance/migrations/__pycache__/0001_initial.cpython-312.pyc
cubixhazi/db.sqlite3
cbx_0401_django_heli_tamas.odt
cubixhazi/db.sqlite3
cubixhazi/hotel_finance/migrations/__pycache__/0002_alter_room_night_count.cpython-312.pyc
cubixhazi/hotel_finance/migrations/__pycache__/0003_alter_room_night_count.cpython-312.pyc
