cl_parancsok.txt
cubixhazi/cubixhazi/__pycache__/__init__.cpython-312.pyc
cubixhazi/cubixhazi/__pycache__/settings.cpython-312.pyc
cubixhazi/cubixhazi/__pycache__/urls.cpython-312.pyc
cubixhazi/cubixhazi/__pycache__/wsgi.cpython-312.pyc
