<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel Income Calculator</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body class="px-3 py-2 bg-light bg-gradient">
    <h1>Hotel Income Calculator</h1>
    <h3>Room Types</h3>
    <table class="table table-striped table-bordered border-secondary table-sm" style="width: 50%;">
        <tr>
            <th>Type</th>
            <th>Price</th>
            <th>Suite</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        {% for type in room_types %}
        <tr>
            <td>{{ type.name }}</td>
            <td>{{ type.price }}</td>
            <td>{% if type.suite %} ✓ {% endif %}</td>
            <td><a href="type/update/{{ type.id }}">Edit</a></td>
            <td><a href="type/delete/{{ type.id }}">Delete</a></td>
        </tr>
        {% endfor %}
    </table>

    <p>
        <button type="button" class="btn btn-outline-secondary" onclick="window.location.href='type/add';">Add room type</button>
    </p>
    <br>
    <h3>Rooms</h3>
    <table class="table table-striped table-bordered border-secondary table-sm" style="width: 50%;">
        <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Has views</th>
            <th>Taken nights</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        {% for room in rooms %}
            <tr>
                <td>{{ room.name }}</td>
                <td>{{ room.type.name }}</td>
                <td>{% if room.has_views %} ✓ {% endif %}</td>
                <td>{{ room.night_count }}</td>
                <td><a href="room/update/{{ room.id }}">Edit</a></td>
                <td><a href="room/delete/{{ room.id }}">Delete</a></td>
            </tr>      
        {% endfor %}
    </table>
    <p>
        <button type="button" class="btn btn-outline-secondary" onclick="window.location.href='room/add/';">Add room</button>
    </p>
<br>
<br>
<h3>Total income</h3>
<h5>The total income is <b>{{ income }}</b> credits.</h5>
<table class="table table-striped table-bordered border-secondary table-sm" style="width: 50%;">
    <tr>
        <th>Room type</th>
        <th>Number of taken nights</th>
        <th>Total Income</th>
    </tr>
    {% for type in room_types %}
        <tr>
            <td>{{ type.name }}</td>
            <td>{{ type.total_taken_nights }}</td>
            <td>{{ type.total_income|floatformat:1 }}</td>
        </tr>
    {% endfor %}
</table>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>


