<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Szobanév {% if room %} módosítása {% else %} hozzáadása {% endif %}</title>
</head>
<body>
    <form action= {% if room %} "updaterecord/{{ room.id }}" {% else %} "addrecord" {% endif %} method="post">
        {% csrf_token %}
        Név: <input type="text" name="name" {% if room %} value="{{ room.name }}" {% endif %}>
        <br>
        Kilátás: <input type="checkbox" name="has_views" {% if room and room.has_views %} checked {% endif %}>
        <br>
        Vendégéjszakák száma: <input type="number" step=1 name="night_count" {% if room %} value="{{ room.night_count }}" {% endif %}>
        <br>
        <input type="submit" value={% if room %} "Módosítás" {% else %} "Hozzáadás" {% endif %}>
    </form>
</body>
</html>