<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% if country %} Edit {% else %} Add {% endif %} room type</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>
<body class="px-5 py-4 bg-light bg-gradient">
    <h1>{% if country %} Edit {% else %} Add {% endif %} room type</h1>
    <br>
    <form class="row g-3" action= {% if type %} "updaterecord/{{ type.id }}" {% else %} "addrecord" {% endif %} method="post">
        {% csrf_token %}
        <div class="row-auto col-sm-2">
            <label class="form-label">Name:</label>
            <input class="form-control" type="text" name="name" {% if type %} value="{{ type.name }}" {% endif %}>
        </div>
        <div class="row-auto">
            <label class="form-label">Suite:</label>
            <br>
            <input type="checkbox" name="suite" {% if type and type.suite %} checked {% endif %}>
        </div>
        <div class="row-auto col-sm-2">
            <label class="form-label">Price:</label>
            <br>
            <input class="form-control" type="number" step=0.5 name="price" {% if type %} value="{{ type.price }}" {% endif %}>
        </div>
        <div class="row-auto">
        <input type="submit" class="btn btn-outline-secondary" value={% if type %} "Edit" {% else %} "Add" {% endif %}>
        </div>
    </form>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</body>
</html>
